.jumbotron{
    color: white;
    text-align: center;
    background-image: url("https://images.unsplash.com/photo-1505017791108-7b40f307cdc5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60") ;
    
}
.form-border{
    border-style: solid;
    border-color: black;
    margin-left: 50px;
    margin-right: 50px;
}
.form-header {
    color: white;
    background-color: #a0191e;

}
